
.ballet-<uniquifier> {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src:
  local(ClashDisplay-Variable),
  url(/fonts/ClashDisplay-Variable.ttf);
  font-weight: 200 700;
  font-style: normal;
}

body{
    height : 100vh;
    width : 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: 0;
    background-color: rgb(0, 0, 0);
}