
.ballet-<uniquifier> {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src:
  local(ClashDisplay-Variable),
  url(/fonts/ClashDisplay-Variable.ttf);
  font-weight: 200 700;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: 0;
    background-color: rgb(0, 0, 0);
}

.slider {
  margin : 12px;
  background-color: transparent;
  -webkit-appearance: none;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: #F1F1F1;
    outline: none;
}

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #f1f1f1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  border-radius: 8px;
}